.App {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sectionsLinks {
  width: 100%;
}

.sectionsLinks a {
  display: inline-block;
  width: 20%;
}

.portfolioImgGrid {
  width: auto;
  padding: 50px;
}

.portfolioImgGrid img {
  width: 200px;
  margin-right: 15px;
}

.aboutImg1 {
  width: 200px;
  margin-right: 15px;
}

.aboutImg2 {
  width: 200px;
  margin-right: 15px;
}

.reviewsCarousel {
  display: inline-block;
  text-align: center;
}