html, body {
  height: 100%;
  margin: 0px;
  background-color: #222222;
}

#root {
  background-color: #222222;
  height: 100%;
}

.App {
  height: 100%;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-image: linear-gradient(rgb(159, 207, 159), #61a6af);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(33, 33, 33);
}

.App-header h1 {
  margin-top: 40px;
}

/* SIDEBAR */

.sidebar {
  position: absolute;
  text-align: center;
  width: 250px;
  top: 15px;
  left: 15px;
  bottom: 15px;
  border-radius: 10px;
  background-color: #08039e;
  border: 3px solid white;
}

.profileImg {
  width: 180px;
  margin-top: 30px;
}

.level {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #0c8ea8;
}

.level span {
  color: white;
}

.expGauge {
  height: 18px;
  width: 180px;
  margin: auto;
  margin-bottom: 40px;
  background-color: #737476;
  border: 3px solid white;
}

.expGauge div {
  height: 100%;
  background-color: #fda8ab;
}

.topicsGrid {
  display: grid;
  grid-template-areas: 
    "cursor topic topic topic";
}

.cursorContainer {
  display: inline-block;
  grid-area: cursor;
  width: 80px;
  height: 180px;
}

.cursorContainer img {
  display: block;
  margin-left: 20px;
  margin-top: 14px;
}

.topics {
  display: inline-block;
  grid-area: topic;
  height: 180px;
}

.topics a {
  display: block;
  text-align: left;
  font-size: 1.7rem;
  text-decoration: none;
  color: white;
}

.topics a:hover {
  color: #0c8ea8;
}

/* DIALOGUE */

.dialogue {
  position: absolute;
  text-align: left;
  width: 500px;
  top: 30px;
  left: 300px;
  height: 130px;
  border-radius: 10px;
  background-color: #08039e;
  border: 3px solid white;
  color: white;
  padding: 15px;
}

.dialogue h1 {
  font-size: 1.2rem;
}

.dialogue p {
  font-size: 1.2rem;
}

/* PORTFOLIO */

.portfolio {
  position: absolute;
  text-align: left;
  top: 200px;
  left: 330px;
  right: 70px;
  bottom: 70px;
  border-radius: 10px;
  background-color: #08039e;
  border: 3px solid white;
  color: white;
  padding: 40px;
  overflow-y: scroll;
}

.portfolio h2 {
  text-align: center;
  margin-bottom: 30px;
}

.portfolioImgGroup {
  display: inline;
  width: 100%;
}

.portfolioImgGroup img {
  text-align: center;
  width: 250px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 3px solid white;
}

.portfolioOverlays {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  top: 67px;
  left: 0;
  pointer-events: none;
}

.portfolioImgOverlay {
  display: inline-block;
  text-align: center;
  width: 250px;
  height: 250px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: rgba(34, 34, 34, 0.9);
  border: 3px solid white;
}

.portfolioProjectTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  height: 50%;
}

.line {
  display: block;
  margin: 0 20px;
  height: 1px;
  background-color: white;
}

.portfolioProjectPlatforms {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 24%;
}

.portfolioProjectPlatforms p {
  margin: 0;
}

.portfolioProjectEngine {
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 0;
  height: 25%;
}

/* PROJECT */

.project {
  position: absolute;
  text-align: left;
  top: 200px;
  left: 330px;
  right: 70px;
  bottom: 70px;
  border-radius: 10px;
  background-color: #0053ad;
  border: 3px solid white;
  color: white;
  padding: 40px;
  overflow-y: scroll;
}

.backBtn {
  position: absolute;
}

.project h2 {
  display: block;
  margin: 0 60px 40px;
  text-align: center;
}

.projectMedia {
  display: inline-block;
  width: 50%;
}

.projectMedia img {
  text-align: center;
  width: 220px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 3px solid white;
}

.projectDescription {
  display: inline-block;
  margin-left: 3%;
  width: 47%;
  vertical-align: top;
}

.projectAudioDescription {
  position: absolute;
  right: 60px;
  bottom: 0;
  text-align: center;
}

.projectAudioDescription p {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* ABOUT */

.about {
  position: absolute;
  text-align: left;
  top: 200px;
  left: 330px;
  right: 70px;
  bottom: 70px;
  border-radius: 10px;
  background-color: #08039e;
  border: 3px solid white;
  color: white;
  padding: 40px;
  min-height: 600px;
  overflow-y: scroll;
}

.about h2 {
  display: block;
  margin: 0 60px 40px;
  text-align: center;
}

.infjImg {
  display: inline;
  height: 85%;
  margin-right: 40px;
  overflow-y: initial;
}

.about p {
  position: inherit;
  display: inline;
  margin-right: 30px;
  font-size: 1.2rem;
}

.lelouchImg {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

/* FULL SCREEN */

.fullScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 50px;
  background-color: rgba(34, 34, 34, 0.9);
}

.fullScreen div {
  position: relative;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* REVIEWS */

.reviews {
  position: absolute;
  text-align: left;
  top: 200px;
  left: 330px;
  right: 70px;
  bottom: 70px;
  border-radius: 10px;
  background-color: #08039e;
  border: 3px solid white;
  color: white;
  padding: 40px;
  min-height: 600px;
  overflow-y: scroll;
}

.reviews h2 {
  display: block;
  margin: 0 60px 60px;
  text-align: center;
}

.reviewsList {
  margin: 0px 80px;
}

.reviewEntry {
  margin-bottom: 50px;
}

.reviewEntry img {
  border-radius: 50%;
  border: #cfcfcf solid 2px;
}

.reviewEntry h4 {
  display: inline;
  margin-left: 10px;
  vertical-align: middle;
  font-weight: 400;
}

.reviewEntry p {
  margin-top: 10px;
  margin-left: 40px;
  font-size: 1.3rem;
  font-weight: 300;
}

/* CONTACT */ 

.contact {
  position: absolute;
  text-align: left;
  top: 200px;
  left: 330px;
  right: 70px;
  bottom: 70px;
  border-radius: 10px;
  background-color: #08039e;
  border: 3px solid white;
  color: white;
  padding: 40px 120px;
  min-height: 600px;
  overflow-y: scroll;
}

.contact h2 {
  display: block;
  margin: 0 60px 60px;
  text-align: center;
}

.contactDetails {
  font-size: 1.4rem;
  margin-top: 50px;
  margin-bottom: 80px;
  line-height: 160%;
}

.contactInstructions {
  font-size: 1.2rem;
}

.contact textarea {
  display: block;
  width: 100%;
  padding: 15px;
  border: #28293d solid 3px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.contactSubmitContainer {
  margin-right: 40px;
  text-align: end;
}

.contactFeedback {
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 50px;
  color: #88ff88
}

.contact button {
  display: inline-block;
  margin-top: 20px;
  padding: 6px 40px;
  border: white solid 3px;
  border-radius: 8px;
  background-color: #28293d;
  color: white;
  font-size: 1.2rem;
}

.contact button:hover {
  border: rgb(184, 181, 181) solid 3px;
  background-color: #232127;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a6d7ff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4843fe;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2823ae;
}