@media only screen and (max-width: 799px) {

    /* SIDEBAR */

    .sidebar {
      position: relative;
      font-size: 0.7rem;
      margin: 5px 5px;
      padding: 15px;
      text-align: start;
    }

    .profileImg {
      display: inline-block;
      width: 30%;
      margin-top: 0px;
      vertical-align: top;
    }

    .levelExp {
      display: inline-block;
      width: 60%;
      margin-left: 20px;
    }

    .expGauge {
      height: 12px;
      text-align: center;
    }

    .topicsGrid {
      margin-top: 15px;
    }

    .cursorContainer {
      display: none;
    }

    .topics {
      display: block;
      height: auto;
      text-align: center;
    }

    .topics a {
      display: inline-block;
      margin: 0px 15px;
      font-size: 1.5rem;
    }
    
    /* DIALOGUE */

    .dialogue {
      position: initial;
      margin: 10px 40px 10px 5px;
      padding: 10px;
      height: 100px;
    }

    .dialogue h1 {
      font-size: 1.0rem;
    }

    .dialogue p {
      font-size: 1.0rem;
    }

    /* PAGES */

    .portfolio, .project, .reviews, .contact, .about {
      position: initial;
      margin: 5px;
      padding: 30px;
    }

    .portfolioOverlays {
      display: none;
    }

    .about div {
      padding: 0px;
    }

    .infjImg {
      display: block;
      width: 100%;
      height: auto;
    }

    .about p {
      display: block;
      font-size: 1.0rem;
      margin: 40px 0px 0px;
    }

    .lelouchImg {
      position: initial;
      display: block;
      margin: 40px auto 20px;
      text-align: center;
    }
  
    .portfolioImgGroup img {
      width: 100%;
    }

    .projectMedia {
      display: block;
      width: auto;
    }
  
    .projectMedia img {
      width: 45%;
      margin: 5px 2%;
    }

    .projectDescription {
      display: block;
      width: 100%;
      margin: 30px 0px 10px;
    }
    
    .fullScreen {
      padding: 15px;
      overflow: scroll;
    }
  }

  @media only screen and (min-width: 800px) {
    .sidebar {
      top: 15px;
      left: 15px;
      bottom: 15px;
    }

    .topicsGrid {
      display: grid;
      grid-template-areas: 
        "cursor topic topic topic";
    }

    .cursorContainer {
      grid-area: cursor;
    }

    .dialogue {
      width: 500px;
      top: 30px;
      left: 300px;
      height: 130px;
    }
  }
  
  @media only screen and (min-width: 800px) and (max-width: 1299px) {
    .sidebar {
      width: 200px;
      font-size: 0.7rem;
    }
    .topics a {
      margin-bottom: 12px;
    }
    .cursorContainer {
      width: 40px;
    }
    .cursorContainer img {
      width: 30px;
    }
    .expGauge {
      height: 12px;
    }
  
    .portfolio, .project, .reviews, .contact {
      left: 250px;
      padding: 40px 40px;
    }
    .about, .dialogue {
      left: 250px;
    }
    .portfolioOverlays {
      padding: 40px 40px;
    }
  
    .portfolioImgGroup img {
      width: 45%;
    }
  
    .portfolioImgOverlay {
      width: 45%;
    }
  
    .projectMedia img {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 1300px) and (max-width: 1499px) {
    .sidebar {
      width: 215px;
      font-size: 0.8rem;
    }
    .topics a {
      margin-bottom: 8px;
    }
    .cursorContainer {
      width: 50px;
    }
    .cursorContainer img {
      width: 35px;
    }
    .expGauge {
      height: 14px;
    }
  
    .portfolio, .project, .reviews, .contact {
      left: 280px;
      padding: 40px 70px;
    }
    .about, .dialogue {
      left: 280px;
    }
    .portfolioOverlays {
      padding: 40px 70px;
    }
  
    .portfolioImgGroup img {
      width: 30%;
    }
  
    .portfolioImgOverlay {
      width: 30%;
    }
  
    .projectMedia img {
      width: 45%;
    }
  }
  
  @media only screen and (min-width: 1500px) and (max-width: 1699px) {
    .sidebar {
      width: 230px;
      font-size: 0.9rem;
    }
    .topics a {
      margin-bottom: 5px;
    }
    .cursorContainer {
      width: 65px;
    }
    .cursorContainer img {
      width: 40px;
    }
    .expGauge {
      height: 16px;
    }
  
    .portfolio, .project, .reviews, .contact {
      left: 310px;
      padding: 40px 100px;
    }
    .about, .dialogue {
      left: 310px;
    }
    .portfolioOverlays {
      padding: 40px 100px;
    }
    
    .portfolioImgGroup img {
      width: 23%;
    }
  
    .portfolioImgOverlay {
      width: 23%;
    }
  
    .projectMedia img {
      width: 47%;
    }
  }
  
  @media only screen and (min-width: 1700px) {
    .sidebar {
      width: 250px;
      font-size: 1.0rem;
    }
    .topics a {
      margin-bottom: 0px;
    }
    .cursorContainer {
      width: 80px;
    }
    .cursorContainer img {
      width: 47px;
    }
    .expGauge {
      height: 18px;
    }
  
    .portfolio, .project, .reviews, .contact {
      left: 330px;
      padding: 40px 120px;
    }
    .about, .dialogue {
      left: 330px;
    }
    .portfolioOverlays {
      padding: 40px 120px;
    }
  
    .portfolioImgGroup img {
      width: 18.5%;
    }
  
    .portfolioImgOverlay {
      width: 18.5%;
    }
  
    .projectMedia img {
      width: 47%;
    }
  }