@media only screen and (max-width: 799px) {
    .sidebar {
      width: 200px;
      font-size: 0.7rem;
    }
    .topics a {
      margin-bottom: 12px;
    }
    .cursorContainer {
      width: 40px;
    }
    .cursorContainer img {
      width: 30px;
    }
    .expGauge {
      height: 12px;
    }
  
    .portfolio, .project, .reviews, .contact {
      left: 250px;
      padding: 40px 20px;
    }
    .about, .dialogue {
      left: 250px;
    }
    .portfolioOverlays {
      padding: 40px 20px;
    }
  
    .portfolioImgGroup img {
      width: 100%;
    }
  
    .portfolioImgOverlay {
      width: 100%;
      margin-right: 0px;
    }
  
    .projectMedia img {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 800px) and (max-width: 1299px) {
    .sidebar {
      width: 200px;
      font-size: 0.7rem;
    }
    .topics a {
      margin-bottom: 12px;
    }
    .cursorContainer {
      width: 40px;
    }
    .cursorContainer img {
      width: 30px;
    }
    .expGauge {
      height: 12px;
    }
  
    .portfolio, .project, .reviews, .contact {
      left: 250px;
      padding: 40px 40px;
    }
    .about, .dialogue {
      left: 250px;
    }
    .portfolioOverlays {
      padding: 40px 40px;
    }
  
    .portfolioImgGroup img {
      width: 45%;
    }
  
    .portfolioImgOverlay {
      width: 45%;
    }
  
    .projectMedia img {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 1300px) and (max-width: 1499px) {
    .sidebar {
      width: 215px;
      font-size: 0.8rem;
    }
    .topics a {
      margin-bottom: 8px;
    }
    .cursorContainer {
      width: 50px;
    }
    .cursorContainer img {
      width: 35px;
    }
    .expGauge {
      height: 14px;
    }
  
    .portfolio, .project, .reviews, .contact {
      left: 280px;
      padding: 40px 70px;
    }
    .about, .dialogue {
      left: 280px;
    }
    .portfolioOverlays {
      padding: 40px 70px;
    }
  
    .portfolioImgGroup img {
      width: 30%;
    }
  
    .portfolioImgOverlay {
      width: 30%;
    }
  
    .projectMedia img {
      width: 45%;
    }
  }
  
  @media only screen and (min-width: 1500px) and (max-width: 1699px) {
    .sidebar {
      width: 230px;
      font-size: 0.9rem;
    }
    .topics a {
      margin-bottom: 5px;
    }
    .cursorContainer {
      width: 65px;
    }
    .cursorContainer img {
      width: 40px;
    }
    .expGauge {
      height: 16px;
    }
  
    .portfolio, .project, .reviews, .contact {
      left: 310px;
      padding: 40px 100px;
    }
    .about, .dialogue {
      left: 310px;
    }
    .portfolioOverlays {
      padding: 40px 100px;
    }
    
    .portfolioImgGroup img {
      width: 23%;
    }
  
    .portfolioImgOverlay {
      width: 23%;
    }
  
    .projectMedia img {
      width: 47%;
    }
  }
  
  @media only screen and (min-width: 1700px) {
    .sidebar {
      width: 250px;
      font-size: 1.0rem;
    }
    .topics a {
      margin-bottom: 0px;
    }
    .cursorContainer {
      width: 80px;
    }
    .cursorContainer img {
      width: 47px;
    }
    .expGauge {
      height: 18px;
    }
  
    .portfolio, .project, .reviews, .contact {
      left: 330px;
      padding: 40px 120px;
    }
    .about, .dialogue {
      left: 330px;
    }
    .portfolioOverlays {
      padding: 40px 120px;
    }
  
    .portfolioImgGroup img {
      width: 18.5%;
    }
  
    .portfolioImgOverlay {
      width: 18.5%;
    }
  
    .projectMedia img {
      width: 47%;
    }
  }